/** Global */

$animation-prefix: -webkit- -moz- -o- -ms-;

/** mixin functions */

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin prefix($property, $value, $prefixes:$animation-prefix) {
    @each $prefix in $prefixes {
        #{$prefix}#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin animation($str) {
    @include prefix(animation, #{$str});
    animation-iteration-count: 1;
}

@mixin animation-delay($delay) {
    @include prefix(animation-delay, #{$delay});
}

@mixin transition($str) {
    @include prefix(transition, #{$str});
}

@mixin animate-intervals($from, $to, $class, $prop, $delay) {
    @for $i from $from through $to {
        #{$class} {
            &:nth-child(#{$i}) {
                opacity: 0;
                @include animation(#{$prop});
                @include animation-delay($i* $delay);
            }
        }
    }
}

@mixin animate-delays($name, $from, $to, $interval, $offset:0) {
    @for $i from $from to $to {
        .#{$name}-#{$i} {
            $delay: $interval*($i - $offset);
            @include prefix(animation-duration, #{$interval}s !important);
            @include prefix(animation-delay, #{$delay}s !important);
            @include prefix(animation-fill, both);
        }
    }
}


/***** Keyframes */

@include keyframes(slideDownCard) {
    0% {
        z-index: -10;
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
    30% {
        z-index: -2;
        opacity: 0.3;
    }
    50% {
        z-index: -5;
        opacity: 0.5;
        transform: translate3d(0, 20%, 0);
    }
    80% {
        z-index: 1;
        opacity: 0.9;
    }
    100% {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@include keyframes(slideUpCard) {
    0% {
        z-index: -10;
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }
    30% {
        z-index: -2;
        opacity: 0.3;
    }
    50% {
        z-index: -5;
        opacity: 0.5;
        transform: translate3d(0, -5%, 0);
    }
    80% {
        z-index: -2;
        opacity: 0.9;
    }
    100% {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@include keyframes(fadeInFromTop) {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@include keyframes(fadeInFromBottom) {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@include keyframes(fadeInFromLeft) {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@include keyframes(fadeInFromRight) {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@include keyframes(fadeInScale) {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@include keyframes(rotateSkewLeft) {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@include keyframes(rotateSkewLeft) {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@include keyframes(rotateSkewLeftPos) {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@include keyframes(rotateSkewRight) {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@include keyframes(rotateSkewRightPos) {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@include keyframes(rotateScaleRubber) {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0) scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }
    50% {
        transform: translate3d(0, 50%, 0) rotate(-10deg);
    }
    70% {
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@include keyframes(swingFromTop) {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@include keyframes(textFocusIn) {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@include keyframes(jelloHorizontal) {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.title-bounce {
    @include animation('fadeInScale 3s');
}

.founders-lead,
.testimonies-sub {
    @include animation('fadeInScale 3.5s');
}