.dy_tone4{background-color:#CCCCCC !important; }
.dy_background{background-color:#FFFFFF !important; }
.dy_tone2{background-color:#666666 !important; }
.dy_accent2{color:#0000FF !important; }
.dy_tone3{background-color:#999999 !important; }
.dy_tone1{background-color:#333333 !important; }
.dy_accent1{color:#FF0000 !important; }
.dy_text{color:#000000 !important; }
.dy_tone4-text-1{color:#b8b8b8 !important; }
.dy_tone4-text-2{color:#a4a4a4 !important; }
.dy_tone4-text-3{color:#909090 !important; }
.dy_tone4-text-4{color:#7c7c7c !important; }
.dy_tone4-text-5{color:#686868 !important; }
.dy_tone4-text-6{color:#545454 !important; }
.dy_tone4-text-7{color:#404040 !important; }
.dy_tone4-text-8{color:#2c2c2c !important; }
.dy_tone4-text-9{color:#181818 !important; }
.dy_tone4-background-1{color:#d1d1d1 !important; }
.dy_tone4-background-2{color:#d6d6d6 !important; }
.dy_tone4-background-3{color:#dbdbdb !important; }
.dy_tone4-background-4{color:#e0e0e0 !important; }
.dy_tone4-background-5{color:#e5e5e5 !important; }
.dy_tone4-background-6{color:#eaeaea !important; }
.dy_tone4-background-7{color:#efefef !important; }
.dy_tone4-background-8{color:#f4f4f4 !important; }
.dy_tone4-background-9{color:#f9f9f9 !important; }
.dy_tone4-tone1-1{color:#bdbdbd !important; }
.dy_tone4-tone1-2{color:#aeaeae !important; }
.dy_tone4-tone1-3{color:#9f9f9f !important; }
.dy_tone4-tone1-4{color:#909090 !important; }
.dy_tone4-tone1-5{color:#818181 !important; }
.dy_tone4-tone1-6{color:#727272 !important; }
.dy_tone4-tone1-7{color:#636363 !important; }
.dy_tone4-tone1-8{color:#545454 !important; }
.dy_tone4-tone1-9{color:#454545 !important; }
.dy_tone4-tone2-1{color:#c2c2c2 !important; }
.dy_tone4-tone2-2{color:#b8b8b8 !important; }
.dy_tone4-tone2-3{color:#aeaeae !important; }
.dy_tone4-tone2-4{color:#a4a4a4 !important; }
.dy_tone4-tone2-5{color:#9a9a9a !important; }
.dy_tone4-tone2-6{color:#909090 !important; }
.dy_tone4-tone2-7{color:#868686 !important; }
.dy_tone4-tone2-8{color:#7c7c7c !important; }
.dy_tone4-tone2-9{color:#727272 !important; }
.dy_tone4-tone3-1{color:#c7c7c7 !important; }
.dy_tone4-tone3-2{color:#c2c2c2 !important; }
.dy_tone4-tone3-3{color:#bdbdbd !important; }
.dy_tone4-tone3-4{color:#b8b8b8 !important; }
.dy_tone4-tone3-5{color:#b3b3b3 !important; }
.dy_tone4-tone3-6{color:#aeaeae !important; }
.dy_tone4-tone3-7{color:#a9a9a9 !important; }
.dy_tone4-tone3-8{color:#a4a4a4 !important; }
.dy_tone4-tone3-9{color:#9f9f9f !important; }
.dy_tone4-accent1-1{color:#d1b8b8 !important; }
.dy_tone4-accent1-2{color:#d6a4a4 !important; }
.dy_tone4-accent1-3{color:#db9090 !important; }
.dy_tone4-accent1-4{color:#e07c7c !important; }
.dy_tone4-accent1-5{color:#e56868 !important; }
.dy_tone4-accent1-6{color:#ea5454 !important; }
.dy_tone4-accent1-7{color:#ef4040 !important; }
.dy_tone4-accent1-8{color:#f42c2c !important; }
.dy_tone4-accent1-9{color:#f91818 !important; }
.dy_tone4-accent2-1{color:#b8b8d1 !important; }
.dy_tone4-accent2-2{color:#a4a4d6 !important; }
.dy_tone4-accent2-3{color:#9090db !important; }
.dy_tone4-accent2-4{color:#7c7ce0 !important; }
.dy_tone4-accent2-5{color:#6868e5 !important; }
.dy_tone4-accent2-6{color:#5454ea !important; }
.dy_tone4-accent2-7{color:#4040ef !important; }
.dy_tone4-accent2-8{color:#2c2cf4 !important; }
.dy_tone4-accent2-9{color:#1818f9 !important; }
.dy_background-text-1{color:#e6e6e6 !important; }
.dy_background-text-2{color:#cdcdcd !important; }
.dy_background-text-3{color:#b4b4b4 !important; }
.dy_background-text-4{color:#9b9b9b !important; }
.dy_background-text-5{color:#828282 !important; }
.dy_background-text-6{color:#696969 !important; }
.dy_background-text-7{color:#505050 !important; }
.dy_background-text-8{color:#373737 !important; }
.dy_background-text-9{color:#1e1e1e !important; }
.dy_background-tone1-1{color:#ebebeb !important; }
.dy_background-tone1-2{color:#d7d7d7 !important; }
.dy_background-tone1-3{color:#c3c3c3 !important; }
.dy_background-tone1-4{color:#afafaf !important; }
.dy_background-tone1-5{color:#9b9b9b !important; }
.dy_background-tone1-6{color:#878787 !important; }
.dy_background-tone1-7{color:#737373 !important; }
.dy_background-tone1-8{color:#5f5f5f !important; }
.dy_background-tone1-9{color:#4b4b4b !important; }
.dy_background-tone2-1{color:#f0f0f0 !important; }
.dy_background-tone2-2{color:#e1e1e1 !important; }
.dy_background-tone2-3{color:#d2d2d2 !important; }
.dy_background-tone2-4{color:#c3c3c3 !important; }
.dy_background-tone2-5{color:#b4b4b4 !important; }
.dy_background-tone2-6{color:#a5a5a5 !important; }
.dy_background-tone2-7{color:#969696 !important; }
.dy_background-tone2-8{color:#878787 !important; }
.dy_background-tone2-9{color:#787878 !important; }
.dy_background-tone3-1{color:#f5f5f5 !important; }
.dy_background-tone3-2{color:#ebebeb !important; }
.dy_background-tone3-3{color:#e1e1e1 !important; }
.dy_background-tone3-4{color:#d7d7d7 !important; }
.dy_background-tone3-5{color:#cdcdcd !important; }
.dy_background-tone3-6{color:#c3c3c3 !important; }
.dy_background-tone3-7{color:#b9b9b9 !important; }
.dy_background-tone3-8{color:#afafaf !important; }
.dy_background-tone3-9{color:#a5a5a5 !important; }
.dy_background-tone4-1{color:#fafafa !important; }
.dy_background-tone4-2{color:#f5f5f5 !important; }
.dy_background-tone4-3{color:#f0f0f0 !important; }
.dy_background-tone4-4{color:#ebebeb !important; }
.dy_background-tone4-5{color:#e6e6e6 !important; }
.dy_background-tone4-6{color:#e1e1e1 !important; }
.dy_background-tone4-7{color:#dcdcdc !important; }
.dy_background-tone4-8{color:#d7d7d7 !important; }
.dy_background-tone4-9{color:#d2d2d2 !important; }
.dy_background-accent1-1{color:#ffe6e6 !important; }
.dy_background-accent1-2{color:#ffcdcd !important; }
.dy_background-accent1-3{color:#ffb4b4 !important; }
.dy_background-accent1-4{color:#ff9b9b !important; }
.dy_background-accent1-5{color:#ff8282 !important; }
.dy_background-accent1-6{color:#ff6969 !important; }
.dy_background-accent1-7{color:#ff5050 !important; }
.dy_background-accent1-8{color:#ff3737 !important; }
.dy_background-accent1-9{color:#ff1e1e !important; }
.dy_background-accent2-1{color:#e6e6ff !important; }
.dy_background-accent2-2{color:#cdcdff !important; }
.dy_background-accent2-3{color:#b4b4ff !important; }
.dy_background-accent2-4{color:#9b9bff !important; }
.dy_background-accent2-5{color:#8282ff !important; }
.dy_background-accent2-6{color:#6969ff !important; }
.dy_background-accent2-7{color:#5050ff !important; }
.dy_background-accent2-8{color:#3737ff !important; }
.dy_background-accent2-9{color:#1e1eff !important; }
.dy_tone2-text-1{color:#5c5c5c !important; }
.dy_tone2-text-2{color:#525252 !important; }
.dy_tone2-text-3{color:#484848 !important; }
.dy_tone2-text-4{color:#3e3e3e !important; }
.dy_tone2-text-5{color:#343434 !important; }
.dy_tone2-text-6{color:#2a2a2a !important; }
.dy_tone2-text-7{color:#202020 !important; }
.dy_tone2-text-8{color:#161616 !important; }
.dy_tone2-text-9{color:#c0c0c0 !important; }
.dy_tone2-background-1{color:#757575 !important; }
.dy_tone2-background-2{color:#848484 !important; }
.dy_tone2-background-3{color:#939393 !important; }
.dy_tone2-background-4{color:#a2a2a2 !important; }
.dy_tone2-background-5{color:#b1b1b1 !important; }
.dy_tone2-background-6{color:#c0c0c0 !important; }
.dy_tone2-background-7{color:#cfcfcf !important; }
.dy_tone2-background-8{color:#dedede !important; }
.dy_tone2-background-9{color:#ededed !important; }
.dy_tone2-tone1-1{color:#616161 !important; }
.dy_tone2-tone1-2{color:#5c5c5c !important; }
.dy_tone2-tone1-3{color:#575757 !important; }
.dy_tone2-tone1-4{color:#525252 !important; }
.dy_tone2-tone1-5{color:#4d4d4d !important; }
.dy_tone2-tone1-6{color:#484848 !important; }
.dy_tone2-tone1-7{color:#434343 !important; }
.dy_tone2-tone1-8{color:#3e3e3e !important; }
.dy_tone2-tone1-9{color:#393939 !important; }
.dy_tone2-tone3-1{color:#6b6b6b !important; }
.dy_tone2-tone3-2{color:#707070 !important; }
.dy_tone2-tone3-3{color:#757575 !important; }
.dy_tone2-tone3-4{color:#7a7a7a !important; }
.dy_tone2-tone3-5{color:#7f7f7f !important; }
.dy_tone2-tone3-6{color:#848484 !important; }
.dy_tone2-tone3-7{color:#898989 !important; }
.dy_tone2-tone3-8{color:#8e8e8e !important; }
.dy_tone2-tone3-9{color:#939393 !important; }
.dy_tone2-tone4-1{color:#707070 !important; }
.dy_tone2-tone4-2{color:#7a7a7a !important; }
.dy_tone2-tone4-3{color:#848484 !important; }
.dy_tone2-tone4-4{color:#8e8e8e !important; }
.dy_tone2-tone4-5{color:#989898 !important; }
.dy_tone2-tone4-6{color:#a2a2a2 !important; }
.dy_tone2-tone4-7{color:#acacac !important; }
.dy_tone2-tone4-8{color:#b6b6b6 !important; }
.dy_tone2-tone4-9{color:#c0c0c0 !important; }
.dy_tone2-accent1-1{color:#755c5c !important; }
.dy_tone2-accent1-2{color:#845252 !important; }
.dy_tone2-accent1-3{color:#934848 !important; }
.dy_tone2-accent1-4{color:#a23e3e !important; }
.dy_tone2-accent1-5{color:#b13434 !important; }
.dy_tone2-accent1-6{color:#c02a2a !important; }
.dy_tone2-accent1-7{color:#cf2020 !important; }
.dy_tone2-accent1-8{color:#de1616 !important; }
.dy_tone2-accent1-9{color:#edc0c0 !important; }
.dy_tone2-accent2-1{color:#5c5c75 !important; }
.dy_tone2-accent2-2{color:#525284 !important; }
.dy_tone2-accent2-3{color:#484893 !important; }
.dy_tone2-accent2-4{color:#3e3ea2 !important; }
.dy_tone2-accent2-5{color:#3434b1 !important; }
.dy_tone2-accent2-6{color:#2a2ac0 !important; }
.dy_tone2-accent2-7{color:#2020cf !important; }
.dy_tone2-accent2-8{color:#1616de !important; }
.dy_tone2-accent2-9{color:#c0c0ed !important; }
.dy_accent2-text-1{color:#0000e6 !important; }
.dy_accent2-text-2{color:#0000cd !important; }
.dy_accent2-text-3{color:#0000b4 !important; }
.dy_accent2-text-4{color:#00009b !important; }
.dy_accent2-text-5{color:#000082 !important; }
.dy_accent2-text-6{color:#000069 !important; }
.dy_accent2-text-7{color:#000050 !important; }
.dy_accent2-text-8{color:#000037 !important; }
.dy_accent2-text-9{color:#00001e !important; }
.dy_accent2-background-1{color:#1919ff !important; }
.dy_accent2-background-2{color:#3232ff !important; }
.dy_accent2-background-3{color:#4b4bff !important; }
.dy_accent2-background-4{color:#6464ff !important; }
.dy_accent2-background-5{color:#7d7dff !important; }
.dy_accent2-background-6{color:#9696ff !important; }
.dy_accent2-background-7{color:#afafff !important; }
.dy_accent2-background-8{color:#c8c8ff !important; }
.dy_accent2-background-9{color:#e1e1ff !important; }
.dy_accent2-tone1-1{color:#5050eb !important; }
.dy_accent2-tone1-2{color:#a0a0d7 !important; }
.dy_accent2-tone1-3{color:#f0f0c3 !important; }
.dy_accent2-tone1-4{color:#1414af !important; }
.dy_accent2-tone1-5{color:#19199b !important; }
.dy_accent2-tone1-6{color:#1e1e87 !important; }
.dy_accent2-tone1-7{color:#232373 !important; }
.dy_accent2-tone1-8{color:#28285f !important; }
.dy_accent2-tone1-9{color:#2d2d4b !important; }
.dy_accent2-tone2-1{color:#a0a0f0 !important; }
.dy_accent2-tone2-2{color:#1414e1 !important; }
.dy_accent2-tone2-3{color:#1e1ed2 !important; }
.dy_accent2-tone2-4{color:#2828c3 !important; }
.dy_accent2-tone2-5{color:#3232b4 !important; }
.dy_accent2-tone2-6{color:#3c3ca5 !important; }
.dy_accent2-tone2-7{color:#464696 !important; }
.dy_accent2-tone2-8{color:#505087 !important; }
.dy_accent2-tone2-9{color:#5a5a78 !important; }
.dy_accent2-tone3-1{color:#f0f0f5 !important; }
.dy_accent2-tone3-2{color:#1e1eeb !important; }
.dy_accent2-tone3-3{color:#2d2de1 !important; }
.dy_accent2-tone3-4{color:#3c3cd7 !important; }
.dy_accent2-tone3-5{color:#4b4bcd !important; }
.dy_accent2-tone3-6{color:#5a5ac3 !important; }
.dy_accent2-tone3-7{color:#6969b9 !important; }
.dy_accent2-tone3-8{color:#7878af !important; }
.dy_accent2-tone3-9{color:#8787a5 !important; }
.dy_accent2-tone4-1{color:#1414fa !important; }
.dy_accent2-tone4-2{color:#2828f5 !important; }
.dy_accent2-tone4-3{color:#3c3cf0 !important; }
.dy_accent2-tone4-4{color:#5050eb !important; }
.dy_accent2-tone4-5{color:#6464e6 !important; }
.dy_accent2-tone4-6{color:#7878e1 !important; }
.dy_accent2-tone4-7{color:#8c8cdc !important; }
.dy_accent2-tone4-8{color:#a0a0d7 !important; }
.dy_accent2-tone4-9{color:#b4b4d2 !important; }
.dy_accent2-accent1-1{color:#1900e6 !important; }
.dy_accent2-accent1-2{color:#3200cd !important; }
.dy_accent2-accent1-3{color:#4b00b4 !important; }
.dy_accent2-accent1-4{color:#64009b !important; }
.dy_accent2-accent1-5{color:#7d0082 !important; }
.dy_accent2-accent1-6{color:#960069 !important; }
.dy_accent2-accent1-7{color:#af0050 !important; }
.dy_accent2-accent1-8{color:#c80037 !important; }
.dy_accent2-accent1-9{color:#e1001e !important; }
.dy_tone3-text-1{color:#8a8a8a !important; }
.dy_tone3-text-2{color:#7b7b7b !important; }
.dy_tone3-text-3{color:#6c6c6c !important; }
.dy_tone3-text-4{color:#5d5d5d !important; }
.dy_tone3-text-5{color:#4e4e4e !important; }
.dy_tone3-text-6{color:#3f3f3f !important; }
.dy_tone3-text-7{color:#303030 !important; }
.dy_tone3-text-8{color:#212121 !important; }
.dy_tone3-text-9{color:#121212 !important; }
.dy_tone3-background-1{color:#a3a3a3 !important; }
.dy_tone3-background-2{color:#adadad !important; }
.dy_tone3-background-3{color:#b7b7b7 !important; }
.dy_tone3-background-4{color:#c1c1c1 !important; }
.dy_tone3-background-5{color:#cbcbcb !important; }
.dy_tone3-background-6{color:#d5d5d5 !important; }
.dy_tone3-background-7{color:#dfdfdf !important; }
.dy_tone3-background-8{color:#e9e9e9 !important; }
.dy_tone3-background-9{color:#f3f3f3 !important; }
.dy_tone3-tone1-1{color:#8f8f8f !important; }
.dy_tone3-tone1-2{color:#858585 !important; }
.dy_tone3-tone1-3{color:#7b7b7b !important; }
.dy_tone3-tone1-4{color:#717171 !important; }
.dy_tone3-tone1-5{color:#676767 !important; }
.dy_tone3-tone1-6{color:#5d5d5d !important; }
.dy_tone3-tone1-7{color:#535353 !important; }
.dy_tone3-tone1-8{color:#494949 !important; }
.dy_tone3-tone1-9{color:#3f3f3f !important; }
.dy_tone3-tone2-1{color:#949494 !important; }
.dy_tone3-tone2-2{color:#8f8f8f !important; }
.dy_tone3-tone2-3{color:#8a8a8a !important; }
.dy_tone3-tone2-4{color:#858585 !important; }
.dy_tone3-tone2-5{color:#808080 !important; }
.dy_tone3-tone2-6{color:#7b7b7b !important; }
.dy_tone3-tone2-7{color:#767676 !important; }
.dy_tone3-tone2-8{color:#717171 !important; }
.dy_tone3-tone2-9{color:#6c6c6c !important; }
.dy_tone3-tone4-1{color:#9e9e9e !important; }
.dy_tone3-tone4-2{color:#a3a3a3 !important; }
.dy_tone3-tone4-3{color:#a8a8a8 !important; }
.dy_tone3-tone4-4{color:#adadad !important; }
.dy_tone3-tone4-5{color:#b2b2b2 !important; }
.dy_tone3-tone4-6{color:#b7b7b7 !important; }
.dy_tone3-tone4-7{color:#bcbcbc !important; }
.dy_tone3-tone4-8{color:#c1c1c1 !important; }
.dy_tone3-tone4-9{color:#c6c6c6 !important; }
.dy_tone3-accent1-1{color:#a38a8a !important; }
.dy_tone3-accent1-2{color:#ad7b7b !important; }
.dy_tone3-accent1-3{color:#b76c6c !important; }
.dy_tone3-accent1-4{color:#c15d5d !important; }
.dy_tone3-accent1-5{color:#cb4e4e !important; }
.dy_tone3-accent1-6{color:#d53f3f !important; }
.dy_tone3-accent1-7{color:#df3030 !important; }
.dy_tone3-accent1-8{color:#e92121 !important; }
.dy_tone3-accent1-9{color:#f31212 !important; }
.dy_tone3-accent2-1{color:#8a8aa3 !important; }
.dy_tone3-accent2-2{color:#7b7bad !important; }
.dy_tone3-accent2-3{color:#6c6cb7 !important; }
.dy_tone3-accent2-4{color:#5d5dc1 !important; }
.dy_tone3-accent2-5{color:#4e4ecb !important; }
.dy_tone3-accent2-6{color:#3f3fd5 !important; }
.dy_tone3-accent2-7{color:#3030df !important; }
.dy_tone3-accent2-8{color:#2121e9 !important; }
.dy_tone3-accent2-9{color:#1212f3 !important; }
.dy_tone1-text-1{color:#2e2e2e !important; }
.dy_tone1-text-2{color:#292929 !important; }
.dy_tone1-text-3{color:#242424 !important; }
.dy_tone1-text-4{color:#1f1f1f !important; }
.dy_tone1-text-5{color:#1a1a1a !important; }
.dy_tone1-text-6{color:#151515 !important; }
.dy_tone1-text-7{color:#101010 !important; }
.dy_tone1-text-8{color:#b0b0b0 !important; }
.dy_tone1-text-9{color:#606060 !important; }
.dy_tone1-background-1{color:#474747 !important; }
.dy_tone1-background-2{color:#5b5b5b !important; }
.dy_tone1-background-3{color:#6f6f6f !important; }
.dy_tone1-background-4{color:#838383 !important; }
.dy_tone1-background-5{color:#979797 !important; }
.dy_tone1-background-6{color:#ababab !important; }
.dy_tone1-background-7{color:#bfbfbf !important; }
.dy_tone1-background-8{color:#d3d3d3 !important; }
.dy_tone1-background-9{color:#e7e7e7 !important; }
.dy_tone1-tone2-1{color:#383838 !important; }
.dy_tone1-tone2-2{color:#3d3d3d !important; }
.dy_tone1-tone2-3{color:#424242 !important; }
.dy_tone1-tone2-4{color:#474747 !important; }
.dy_tone1-tone2-5{color:#4c4c4c !important; }
.dy_tone1-tone2-6{color:#515151 !important; }
.dy_tone1-tone2-7{color:#565656 !important; }
.dy_tone1-tone2-8{color:#5b5b5b !important; }
.dy_tone1-tone2-9{color:#606060 !important; }
.dy_tone1-tone3-1{color:#3d3d3d !important; }
.dy_tone1-tone3-2{color:#474747 !important; }
.dy_tone1-tone3-3{color:#515151 !important; }
.dy_tone1-tone3-4{color:#5b5b5b !important; }
.dy_tone1-tone3-5{color:#656565 !important; }
.dy_tone1-tone3-6{color:#6f6f6f !important; }
.dy_tone1-tone3-7{color:#797979 !important; }
.dy_tone1-tone3-8{color:#838383 !important; }
.dy_tone1-tone3-9{color:#8d8d8d !important; }
.dy_tone1-tone4-1{color:#424242 !important; }
.dy_tone1-tone4-2{color:#515151 !important; }
.dy_tone1-tone4-3{color:#606060 !important; }
.dy_tone1-tone4-4{color:#6f6f6f !important; }
.dy_tone1-tone4-5{color:#7e7e7e !important; }
.dy_tone1-tone4-6{color:#8d8d8d !important; }
.dy_tone1-tone4-7{color:#9c9c9c !important; }
.dy_tone1-tone4-8{color:#ababab !important; }
.dy_tone1-tone4-9{color:#bababa !important; }
.dy_tone1-accent1-1{color:#472e2e !important; }
.dy_tone1-accent1-2{color:#5b2929 !important; }
.dy_tone1-accent1-3{color:#6f2424 !important; }
.dy_tone1-accent1-4{color:#831f1f !important; }
.dy_tone1-accent1-5{color:#971a1a !important; }
.dy_tone1-accent1-6{color:#ab1515 !important; }
.dy_tone1-accent1-7{color:#bf1010 !important; }
.dy_tone1-accent1-8{color:#d3b0b0 !important; }
.dy_tone1-accent1-9{color:#e76060 !important; }
.dy_tone1-accent2-1{color:#2e2e47 !important; }
.dy_tone1-accent2-2{color:#29295b !important; }
.dy_tone1-accent2-3{color:#24246f !important; }
.dy_tone1-accent2-4{color:#1f1f83 !important; }
.dy_tone1-accent2-5{color:#1a1a97 !important; }
.dy_tone1-accent2-6{color:#1515ab !important; }
.dy_tone1-accent2-7{color:#1010bf !important; }
.dy_tone1-accent2-8{color:#b0b0d3 !important; }
.dy_tone1-accent2-9{color:#6060e7 !important; }
.dy_accent1-text-1{color:#e60000 !important; }
.dy_accent1-text-2{color:#cd0000 !important; }
.dy_accent1-text-3{color:#b40000 !important; }
.dy_accent1-text-4{color:#9b0000 !important; }
.dy_accent1-text-5{color:#820000 !important; }
.dy_accent1-text-6{color:#690000 !important; }
.dy_accent1-text-7{color:#500000 !important; }
.dy_accent1-text-8{color:#370000 !important; }
.dy_accent1-text-9{color:#1e0000 !important; }
.dy_accent1-background-1{color:#ff1919 !important; }
.dy_accent1-background-2{color:#ff3232 !important; }
.dy_accent1-background-3{color:#ff4b4b !important; }
.dy_accent1-background-4{color:#ff6464 !important; }
.dy_accent1-background-5{color:#ff7d7d !important; }
.dy_accent1-background-6{color:#ff9696 !important; }
.dy_accent1-background-7{color:#ffafaf !important; }
.dy_accent1-background-8{color:#ffc8c8 !important; }
.dy_accent1-background-9{color:#ffe1e1 !important; }
.dy_accent1-tone1-1{color:#eb5050 !important; }
.dy_accent1-tone1-2{color:#d7a0a0 !important; }
.dy_accent1-tone1-3{color:#c3f0f0 !important; }
.dy_accent1-tone1-4{color:#af1414 !important; }
.dy_accent1-tone1-5{color:#9b1919 !important; }
.dy_accent1-tone1-6{color:#871e1e !important; }
.dy_accent1-tone1-7{color:#732323 !important; }
.dy_accent1-tone1-8{color:#5f2828 !important; }
.dy_accent1-tone1-9{color:#4b2d2d !important; }
.dy_accent1-tone2-1{color:#f0a0a0 !important; }
.dy_accent1-tone2-2{color:#e11414 !important; }
.dy_accent1-tone2-3{color:#d21e1e !important; }
.dy_accent1-tone2-4{color:#c32828 !important; }
.dy_accent1-tone2-5{color:#b43232 !important; }
.dy_accent1-tone2-6{color:#a53c3c !important; }
.dy_accent1-tone2-7{color:#964646 !important; }
.dy_accent1-tone2-8{color:#875050 !important; }
.dy_accent1-tone2-9{color:#785a5a !important; }
.dy_accent1-tone3-1{color:#f5f0f0 !important; }
.dy_accent1-tone3-2{color:#eb1e1e !important; }
.dy_accent1-tone3-3{color:#e12d2d !important; }
.dy_accent1-tone3-4{color:#d73c3c !important; }
.dy_accent1-tone3-5{color:#cd4b4b !important; }
.dy_accent1-tone3-6{color:#c35a5a !important; }
.dy_accent1-tone3-7{color:#b96969 !important; }
.dy_accent1-tone3-8{color:#af7878 !important; }
.dy_accent1-tone3-9{color:#a58787 !important; }
.dy_accent1-tone4-1{color:#fa1414 !important; }
.dy_accent1-tone4-2{color:#f52828 !important; }
.dy_accent1-tone4-3{color:#f03c3c !important; }
.dy_accent1-tone4-4{color:#eb5050 !important; }
.dy_accent1-tone4-5{color:#e66464 !important; }
.dy_accent1-tone4-6{color:#e17878 !important; }
.dy_accent1-tone4-7{color:#dc8c8c !important; }
.dy_accent1-tone4-8{color:#d7a0a0 !important; }
.dy_accent1-tone4-9{color:#d2b4b4 !important; }
.dy_accent1-accent2-1{color:#e60019 !important; }
.dy_accent1-accent2-2{color:#cd0032 !important; }
.dy_accent1-accent2-3{color:#b4004b !important; }
.dy_accent1-accent2-4{color:#9b0064 !important; }
.dy_accent1-accent2-5{color:#82007d !important; }
.dy_accent1-accent2-6{color:#690096 !important; }
.dy_accent1-accent2-7{color:#5000af !important; }
.dy_accent1-accent2-8{color:#3700c8 !important; }
.dy_accent1-accent2-9{color:#1e00e1 !important; }
.dy_text-background-1{color:#191919 !important; }
.dy_text-background-2{color:#323232 !important; }
.dy_text-background-3{color:#4b4b4b !important; }
.dy_text-background-4{color:#646464 !important; }
.dy_text-background-5{color:#7d7d7d !important; }
.dy_text-background-6{color:#969696 !important; }
.dy_text-background-7{color:#afafaf !important; }
.dy_text-background-8{color:#c8c8c8 !important; }
.dy_text-background-9{color:#e1e1e1 !important; }
.dy_text-tone1-1{color:#505050 !important; }
.dy_text-tone1-2{color:#a0a0a0 !important; }
.dy_text-tone1-3{color:#f0f0f0 !important; }
.dy_text-tone1-4{color:#141414 !important; }
.dy_text-tone1-5{color:#191919 !important; }
.dy_text-tone1-6{color:#1e1e1e !important; }
.dy_text-tone1-7{color:#232323 !important; }
.dy_text-tone1-8{color:#282828 !important; }
.dy_text-tone1-9{color:#2d2d2d !important; }
.dy_text-tone2-1{color:#a0a0a0 !important; }
.dy_text-tone2-2{color:#141414 !important; }
.dy_text-tone2-3{color:#1e1e1e !important; }
.dy_text-tone2-4{color:#282828 !important; }
.dy_text-tone2-5{color:#323232 !important; }
.dy_text-tone2-6{color:#3c3c3c !important; }
.dy_text-tone2-7{color:#464646 !important; }
.dy_text-tone2-8{color:#505050 !important; }
.dy_text-tone2-9{color:#5a5a5a !important; }
.dy_text-tone3-1{color:#f0f0f0 !important; }
.dy_text-tone3-2{color:#1e1e1e !important; }
.dy_text-tone3-3{color:#2d2d2d !important; }
.dy_text-tone3-4{color:#3c3c3c !important; }
.dy_text-tone3-5{color:#4b4b4b !important; }
.dy_text-tone3-6{color:#5a5a5a !important; }
.dy_text-tone3-7{color:#696969 !important; }
.dy_text-tone3-8{color:#787878 !important; }
.dy_text-tone3-9{color:#878787 !important; }
.dy_text-tone4-1{color:#141414 !important; }
.dy_text-tone4-2{color:#282828 !important; }
.dy_text-tone4-3{color:#3c3c3c !important; }
.dy_text-tone4-4{color:#505050 !important; }
.dy_text-tone4-5{color:#646464 !important; }
.dy_text-tone4-6{color:#787878 !important; }
.dy_text-tone4-7{color:#8c8c8c !important; }
.dy_text-tone4-8{color:#a0a0a0 !important; }
.dy_text-tone4-9{color:#b4b4b4 !important; }
.dy_text-accent1-1{color:#190000 !important; }
.dy_text-accent1-2{color:#320000 !important; }
.dy_text-accent1-3{color:#4b0000 !important; }
.dy_text-accent1-4{color:#640000 !important; }
.dy_text-accent1-5{color:#7d0000 !important; }
.dy_text-accent1-6{color:#960000 !important; }
.dy_text-accent1-7{color:#af0000 !important; }
.dy_text-accent1-8{color:#c80000 !important; }
.dy_text-accent1-9{color:#e10000 !important; }
.dy_text-accent2-1{color:#000019 !important; }
.dy_text-accent2-2{color:#000032 !important; }
.dy_text-accent2-3{color:#00004b !important; }
.dy_text-accent2-4{color:#000064 !important; }
.dy_text-accent2-5{color:#00007d !important; }
.dy_text-accent2-6{color:#000096 !important; }
.dy_text-accent2-7{color:#0000af !important; }
.dy_text-accent2-8{color:#0000c8 !important; }
.dy_text-accent2-9{color:#0000e1 !important; }
