.dy_tone4{color:#E68600 !important; }
.dy_background{color:#FFFFFF !important; }
.dy_tone2{color:#37B300 !important; }
.dy_accent2{color:#0000FF !important; }
.dy_tone3{color:#B0CC00 !important; }
.dy_tone1{color:#009926 !important; }
.dy_accent1{color:#FF0000 !important; }
.dy_text{color:#000000 !important; }
.dy_tone4-text-1{color:#cf7900 !important; }
.dy_tone4-text-2{color:#b86c00 !important; }
.dy_tone4-text-3{color:#a15f00 !important; }
.dy_tone4-text-4{color:#8a5200 !important; }
.dy_tone4-text-5{color:#734500 !important; }
.dy_tone4-text-6{color:#5c3800 !important; }
.dy_tone4-text-7{color:#452b00 !important; }
.dy_tone4-text-8{color:#2e1e00 !important; }
.dy_tone4-text-9{color:#171100 !important; }
.dy_tone4-background-1{color:#e89219 !important; }
.dy_tone4-background-2{color:#ea9e32 !important; }
.dy_tone4-background-3{color:#ecaa4b !important; }
.dy_tone4-background-4{color:#eeb664 !important; }
.dy_tone4-background-5{color:#f0c27d !important; }
.dy_tone4-background-6{color:#f2ce96 !important; }
.dy_tone4-background-7{color:#f4daaf !important; }
.dy_tone4-background-8{color:#f6e6c8 !important; }
.dy_tone4-background-9{color:#f8f2e1 !important; }
.dy_tone4-tone1-1{color:#cf8730 !important; }
.dy_tone4-tone1-2{color:#b88860 !important; }
.dy_tone4-tone1-3{color:#a18990 !important; }
.dy_tone4-tone1-4{color:#8a8ac0 !important; }
.dy_tone4-tone1-5{color:#738bf0 !important; }
.dy_tone4-tone1-6{color:#5c8c12 !important; }
.dy_tone4-tone1-7{color:#458d15 !important; }
.dy_tone4-tone1-8{color:#2e8e18 !important; }
.dy_tone4-tone1-9{color:#178f1b !important; }
.dy_tone4-tone2-1{color:#d58a00 !important; }
.dy_tone4-tone2-2{color:#c48e00 !important; }
.dy_tone4-tone2-3{color:#b39200 !important; }
.dy_tone4-tone2-4{color:#a29600 !important; }
.dy_tone4-tone2-5{color:#919a00 !important; }
.dy_tone4-tone2-6{color:#809e00 !important; }
.dy_tone4-tone2-7{color:#6fa200 !important; }
.dy_tone4-tone2-8{color:#5ea600 !important; }
.dy_tone4-tone2-9{color:#4daa00 !important; }
.dy_tone4-tone3-1{color:#e18d00 !important; }
.dy_tone4-tone3-2{color:#dc9400 !important; }
.dy_tone4-tone3-3{color:#d79b00 !important; }
.dy_tone4-tone3-4{color:#d2a200 !important; }
.dy_tone4-tone3-5{color:#cda900 !important; }
.dy_tone4-tone3-6{color:#c8b000 !important; }
.dy_tone4-tone3-7{color:#c3b700 !important; }
.dy_tone4-tone3-8{color:#bebe00 !important; }
.dy_tone4-tone3-9{color:#b9c500 !important; }
.dy_tone4-accent1-1{color:#e87900 !important; }
.dy_tone4-accent1-2{color:#ea6c00 !important; }
.dy_tone4-accent1-3{color:#ec5f00 !important; }
.dy_tone4-accent1-4{color:#ee5200 !important; }
.dy_tone4-accent1-5{color:#f04500 !important; }
.dy_tone4-accent1-6{color:#f23800 !important; }
.dy_tone4-accent1-7{color:#f42b00 !important; }
.dy_tone4-accent1-8{color:#f61e00 !important; }
.dy_tone4-accent1-9{color:#f81100 !important; }
.dy_tone4-accent2-1{color:#cf7919 !important; }
.dy_tone4-accent2-2{color:#b86c32 !important; }
.dy_tone4-accent2-3{color:#a15f4b !important; }
.dy_tone4-accent2-4{color:#8a5264 !important; }
.dy_tone4-accent2-5{color:#73457d !important; }
.dy_tone4-accent2-6{color:#5c3896 !important; }
.dy_tone4-accent2-7{color:#452baf !important; }
.dy_tone4-accent2-8{color:#2e1ec8 !important; }
.dy_tone4-accent2-9{color:#1711e1 !important; }
.dy_background-text-1{color:#e6e6e6 !important; }
.dy_background-text-2{color:#cdcdcd !important; }
.dy_background-text-3{color:#b4b4b4 !important; }
.dy_background-text-4{color:#9b9b9b !important; }
.dy_background-text-5{color:#828282 !important; }
.dy_background-text-6{color:#696969 !important; }
.dy_background-text-7{color:#505050 !important; }
.dy_background-text-8{color:#373737 !important; }
.dy_background-text-9{color:#1e1e1e !important; }
.dy_background-tone1-1{color:#e6f5ea !important; }
.dy_background-tone1-2{color:#cdebd5 !important; }
.dy_background-tone1-3{color:#b4e1c0 !important; }
.dy_background-tone1-4{color:#9bd7ab !important; }
.dy_background-tone1-5{color:#82cd96 !important; }
.dy_background-tone1-6{color:#69c381 !important; }
.dy_background-tone1-7{color:#50b96c !important; }
.dy_background-tone1-8{color:#37af57 !important; }
.dy_background-tone1-9{color:#1ea542 !important; }
.dy_background-tone2-1{color:#ebf8e6 !important; }
.dy_background-tone2-2{color:#d7f1cd !important; }
.dy_background-tone2-3{color:#c3eab4 !important; }
.dy_background-tone2-4{color:#afe39b !important; }
.dy_background-tone2-5{color:#9bdc82 !important; }
.dy_background-tone2-6{color:#87d569 !important; }
.dy_background-tone2-7{color:#73ce50 !important; }
.dy_background-tone2-8{color:#5fc737 !important; }
.dy_background-tone2-9{color:#4bc01e !important; }
.dy_background-tone3-1{color:#f8fae6 !important; }
.dy_background-tone3-2{color:#f1f5cd !important; }
.dy_background-tone3-3{color:#eaf0b4 !important; }
.dy_background-tone3-4{color:#e3eb9b !important; }
.dy_background-tone3-5{color:#dce682 !important; }
.dy_background-tone3-6{color:#d5e169 !important; }
.dy_background-tone3-7{color:#cedc50 !important; }
.dy_background-tone3-8{color:#c7d737 !important; }
.dy_background-tone3-9{color:#c0d21e !important; }
.dy_background-tone4-1{color:#fdf3e6 !important; }
.dy_background-tone4-2{color:#fbe7cd !important; }
.dy_background-tone4-3{color:#f9dbb4 !important; }
.dy_background-tone4-4{color:#f7cf9b !important; }
.dy_background-tone4-5{color:#f5c382 !important; }
.dy_background-tone4-6{color:#f3b769 !important; }
.dy_background-tone4-7{color:#f1ab50 !important; }
.dy_background-tone4-8{color:#ef9f37 !important; }
.dy_background-tone4-9{color:#ed931e !important; }
.dy_background-accent1-1{color:#ffe6e6 !important; }
.dy_background-accent1-2{color:#ffcdcd !important; }
.dy_background-accent1-3{color:#ffb4b4 !important; }
.dy_background-accent1-4{color:#ff9b9b !important; }
.dy_background-accent1-5{color:#ff8282 !important; }
.dy_background-accent1-6{color:#ff6969 !important; }
.dy_background-accent1-7{color:#ff5050 !important; }
.dy_background-accent1-8{color:#ff3737 !important; }
.dy_background-accent1-9{color:#ff1e1e !important; }
.dy_background-accent2-1{color:#e6e6ff !important; }
.dy_background-accent2-2{color:#cdcdff !important; }
.dy_background-accent2-3{color:#b4b4ff !important; }
.dy_background-accent2-4{color:#9b9bff !important; }
.dy_background-accent2-5{color:#8282ff !important; }
.dy_background-accent2-6{color:#6969ff !important; }
.dy_background-accent2-7{color:#5050ff !important; }
.dy_background-accent2-8{color:#3737ff !important; }
.dy_background-accent2-9{color:#1e1eff !important; }
.dy_tone2-text-1{color:#32a200 !important; }
.dy_tone2-text-2{color:#2d9100 !important; }
.dy_tone2-text-3{color:#288000 !important; }
.dy_tone2-text-4{color:#236f00 !important; }
.dy_tone2-text-5{color:#1e5e00 !important; }
.dy_tone2-text-6{color:#194d00 !important; }
.dy_tone2-text-7{color:#143c00 !important; }
.dy_tone2-text-8{color:#f02b00 !important; }
.dy_tone2-text-9{color:#a01a00 !important; }
.dy_tone2-background-1{color:#4bba19 !important; }
.dy_tone2-background-2{color:#5fc132 !important; }
.dy_tone2-background-3{color:#73c84b !important; }
.dy_tone2-background-4{color:#87cf64 !important; }
.dy_tone2-background-5{color:#9bd67d !important; }
.dy_tone2-background-6{color:#afdd96 !important; }
.dy_tone2-background-7{color:#c3e4af !important; }
.dy_tone2-background-8{color:#d7ebc8 !important; }
.dy_tone2-background-9{color:#ebf2e1 !important; }
.dy_tone2-tone1-1{color:#32b130 !important; }
.dy_tone2-tone1-2{color:#2daf60 !important; }
.dy_tone2-tone1-3{color:#28ad90 !important; }
.dy_tone2-tone1-4{color:#23abc0 !important; }
.dy_tone2-tone1-5{color:#1ea9f0 !important; }
.dy_tone2-tone1-6{color:#19a712 !important; }
.dy_tone2-tone1-7{color:#14a515 !important; }
.dy_tone2-tone1-8{color:#f0a318 !important; }
.dy_tone2-tone1-9{color:#a0a11b !important; }
.dy_tone2-tone3-1{color:#43b500 !important; }
.dy_tone2-tone3-2{color:#4fb700 !important; }
.dy_tone2-tone3-3{color:#5bb900 !important; }
.dy_tone2-tone3-4{color:#67bb00 !important; }
.dy_tone2-tone3-5{color:#73bd00 !important; }
.dy_tone2-tone3-6{color:#7fbf00 !important; }
.dy_tone2-tone3-7{color:#8bc100 !important; }
.dy_tone2-tone3-8{color:#97c300 !important; }
.dy_tone2-tone3-9{color:#a3c500 !important; }
.dy_tone2-tone4-1{color:#48af00 !important; }
.dy_tone2-tone4-2{color:#59ab00 !important; }
.dy_tone2-tone4-3{color:#6aa700 !important; }
.dy_tone2-tone4-4{color:#7ba300 !important; }
.dy_tone2-tone4-5{color:#8c9f00 !important; }
.dy_tone2-tone4-6{color:#9d9b00 !important; }
.dy_tone2-tone4-7{color:#ae9700 !important; }
.dy_tone2-tone4-8{color:#bf9300 !important; }
.dy_tone2-tone4-9{color:#d08f00 !important; }
.dy_tone2-accent1-1{color:#4ba200 !important; }
.dy_tone2-accent1-2{color:#5f9100 !important; }
.dy_tone2-accent1-3{color:#738000 !important; }
.dy_tone2-accent1-4{color:#876f00 !important; }
.dy_tone2-accent1-5{color:#9b5e00 !important; }
.dy_tone2-accent1-6{color:#af4d00 !important; }
.dy_tone2-accent1-7{color:#c33c00 !important; }
.dy_tone2-accent1-8{color:#d72b00 !important; }
.dy_tone2-accent1-9{color:#eb1a00 !important; }
.dy_tone2-accent2-1{color:#32a219 !important; }
.dy_tone2-accent2-2{color:#2d9132 !important; }
.dy_tone2-accent2-3{color:#28804b !important; }
.dy_tone2-accent2-4{color:#236f64 !important; }
.dy_tone2-accent2-5{color:#1e5e7d !important; }
.dy_tone2-accent2-6{color:#194d96 !important; }
.dy_tone2-accent2-7{color:#143caf !important; }
.dy_tone2-accent2-8{color:#f02bc8 !important; }
.dy_tone2-accent2-9{color:#a01ae1 !important; }
.dy_accent2-text-1{color:#0000e6 !important; }
.dy_accent2-text-2{color:#0000cd !important; }
.dy_accent2-text-3{color:#0000b4 !important; }
.dy_accent2-text-4{color:#00009b !important; }
.dy_accent2-text-5{color:#000082 !important; }
.dy_accent2-text-6{color:#000069 !important; }
.dy_accent2-text-7{color:#000050 !important; }
.dy_accent2-text-8{color:#000037 !important; }
.dy_accent2-text-9{color:#00001e !important; }
.dy_accent2-background-1{color:#1919ff !important; }
.dy_accent2-background-2{color:#3232ff !important; }
.dy_accent2-background-3{color:#4b4bff !important; }
.dy_accent2-background-4{color:#6464ff !important; }
.dy_accent2-background-5{color:#7d7dff !important; }
.dy_accent2-background-6{color:#9696ff !important; }
.dy_accent2-background-7{color:#afafff !important; }
.dy_accent2-background-8{color:#c8c8ff !important; }
.dy_accent2-background-9{color:#e1e1ff !important; }
.dy_accent2-tone1-1{color:#00f0ea !important; }
.dy_accent2-tone1-2{color:#001ed5 !important; }
.dy_accent2-tone1-3{color:#002dc0 !important; }
.dy_accent2-tone1-4{color:#003cab !important; }
.dy_accent2-tone1-5{color:#004b96 !important; }
.dy_accent2-tone1-6{color:#005a81 !important; }
.dy_accent2-tone1-7{color:#00696c !important; }
.dy_accent2-tone1-8{color:#007857 !important; }
.dy_accent2-tone1-9{color:#008742 !important; }
.dy_accent2-tone2-1{color:#5011e6 !important; }
.dy_accent2-tone2-2{color:#a022cd !important; }
.dy_accent2-tone2-3{color:#f033b4 !important; }
.dy_accent2-tone2-4{color:#14449b !important; }
.dy_accent2-tone2-5{color:#195582 !important; }
.dy_accent2-tone2-6{color:#1e6669 !important; }
.dy_accent2-tone2-7{color:#237750 !important; }
.dy_accent2-tone2-8{color:#288837 !important; }
.dy_accent2-tone2-9{color:#2d991e !important; }
.dy_accent2-tone3-1{color:#1114e6 !important; }
.dy_accent2-tone3-2{color:#2228cd !important; }
.dy_accent2-tone3-3{color:#333cb4 !important; }
.dy_accent2-tone3-4{color:#44509b !important; }
.dy_accent2-tone3-5{color:#556482 !important; }
.dy_accent2-tone3-6{color:#667869 !important; }
.dy_accent2-tone3-7{color:#778c50 !important; }
.dy_accent2-tone3-8{color:#88a037 !important; }
.dy_accent2-tone3-9{color:#99b41e !important; }
.dy_accent2-tone4-1{color:#17d0e6 !important; }
.dy_accent2-tone4-2{color:#2e1acd !important; }
.dy_accent2-tone4-3{color:#4527b4 !important; }
.dy_accent2-tone4-4{color:#5c349b !important; }
.dy_accent2-tone4-5{color:#734182 !important; }
.dy_accent2-tone4-6{color:#8a4e69 !important; }
.dy_accent2-tone4-7{color:#a15b50 !important; }
.dy_accent2-tone4-8{color:#b86837 !important; }
.dy_accent2-tone4-9{color:#cf751e !important; }
.dy_accent2-accent1-1{color:#1900e6 !important; }
.dy_accent2-accent1-2{color:#3200cd !important; }
.dy_accent2-accent1-3{color:#4b00b4 !important; }
.dy_accent2-accent1-4{color:#64009b !important; }
.dy_accent2-accent1-5{color:#7d0082 !important; }
.dy_accent2-accent1-6{color:#960069 !important; }
.dy_accent2-accent1-7{color:#af0050 !important; }
.dy_accent2-accent1-8{color:#c80037 !important; }
.dy_accent2-accent1-9{color:#e1001e !important; }
.dy_tone3-text-1{color:#9fb800 !important; }
.dy_tone3-text-2{color:#8ea400 !important; }
.dy_tone3-text-3{color:#7d9000 !important; }
.dy_tone3-text-4{color:#6c7c00 !important; }
.dy_tone3-text-5{color:#5b6800 !important; }
.dy_tone3-text-6{color:#4a5400 !important; }
.dy_tone3-text-7{color:#394000 !important; }
.dy_tone3-text-8{color:#282c00 !important; }
.dy_tone3-text-9{color:#171800 !important; }
.dy_tone3-background-1{color:#b7d119 !important; }
.dy_tone3-background-2{color:#bed632 !important; }
.dy_tone3-background-3{color:#c5db4b !important; }
.dy_tone3-background-4{color:#cce064 !important; }
.dy_tone3-background-5{color:#d3e57d !important; }
.dy_tone3-background-6{color:#daea96 !important; }
.dy_tone3-background-7{color:#e1efaf !important; }
.dy_tone3-background-8{color:#e8f4c8 !important; }
.dy_tone3-background-9{color:#eff9e1 !important; }
.dy_tone3-tone1-1{color:#9fc730 !important; }
.dy_tone3-tone1-2{color:#8ec260 !important; }
.dy_tone3-tone1-3{color:#7dbd90 !important; }
.dy_tone3-tone1-4{color:#6cb8c0 !important; }
.dy_tone3-tone1-5{color:#5bb3f0 !important; }
.dy_tone3-tone1-6{color:#4aae12 !important; }
.dy_tone3-tone1-7{color:#39a915 !important; }
.dy_tone3-tone1-8{color:#28a418 !important; }
.dy_tone3-tone1-9{color:#179f1b !important; }
.dy_tone3-tone2-1{color:#a4ca00 !important; }
.dy_tone3-tone2-2{color:#98c800 !important; }
.dy_tone3-tone2-3{color:#8cc600 !important; }
.dy_tone3-tone2-4{color:#80c400 !important; }
.dy_tone3-tone2-5{color:#74c200 !important; }
.dy_tone3-tone2-6{color:#68c000 !important; }
.dy_tone3-tone2-7{color:#5cbe00 !important; }
.dy_tone3-tone2-8{color:#50bc00 !important; }
.dy_tone3-tone2-9{color:#44ba00 !important; }
.dy_tone3-tone4-1{color:#b5c500 !important; }
.dy_tone3-tone4-2{color:#babe00 !important; }
.dy_tone3-tone4-3{color:#bfb700 !important; }
.dy_tone3-tone4-4{color:#c4b000 !important; }
.dy_tone3-tone4-5{color:#c9a900 !important; }
.dy_tone3-tone4-6{color:#cea200 !important; }
.dy_tone3-tone4-7{color:#d39b00 !important; }
.dy_tone3-tone4-8{color:#d89400 !important; }
.dy_tone3-tone4-9{color:#dd8d00 !important; }
.dy_tone3-accent1-1{color:#b7b800 !important; }
.dy_tone3-accent1-2{color:#bea400 !important; }
.dy_tone3-accent1-3{color:#c59000 !important; }
.dy_tone3-accent1-4{color:#cc7c00 !important; }
.dy_tone3-accent1-5{color:#d36800 !important; }
.dy_tone3-accent1-6{color:#da5400 !important; }
.dy_tone3-accent1-7{color:#e14000 !important; }
.dy_tone3-accent1-8{color:#e82c00 !important; }
.dy_tone3-accent1-9{color:#ef1800 !important; }
.dy_tone3-accent2-1{color:#9fb819 !important; }
.dy_tone3-accent2-2{color:#8ea432 !important; }
.dy_tone3-accent2-3{color:#7d904b !important; }
.dy_tone3-accent2-4{color:#6c7c64 !important; }
.dy_tone3-accent2-5{color:#5b687d !important; }
.dy_tone3-accent2-6{color:#4a5496 !important; }
.dy_tone3-accent2-7{color:#3940af !important; }
.dy_tone3-accent2-8{color:#282cc8 !important; }
.dy_tone3-accent2-9{color:#1718e1 !important; }
.dy_tone1-text-1{color:#008a23 !important; }
.dy_tone1-text-2{color:#007b20 !important; }
.dy_tone1-text-3{color:#006c1d !important; }
.dy_tone1-text-4{color:#005d1a !important; }
.dy_tone1-text-5{color:#004e17 !important; }
.dy_tone1-text-6{color:#003f14 !important; }
.dy_tone1-text-7{color:#003011 !important; }
.dy_tone1-text-8{color:#0021e0 !important; }
.dy_tone1-text-9{color:#0012b0 !important; }
.dy_tone1-background-1{color:#19a33b !important; }
.dy_tone1-background-2{color:#32ad50 !important; }
.dy_tone1-background-3{color:#4bb765 !important; }
.dy_tone1-background-4{color:#64c17a !important; }
.dy_tone1-background-5{color:#7dcb8f !important; }
.dy_tone1-background-6{color:#96d5a4 !important; }
.dy_tone1-background-7{color:#afdfb9 !important; }
.dy_tone1-background-8{color:#c8e9ce !important; }
.dy_tone1-background-9{color:#e1f3e3 !important; }
.dy_tone1-tone2-1{color:#509b23 !important; }
.dy_tone1-tone2-2{color:#a09d20 !important; }
.dy_tone1-tone2-3{color:#f09f1d !important; }
.dy_tone1-tone2-4{color:#14a11a !important; }
.dy_tone1-tone2-5{color:#19a317 !important; }
.dy_tone1-tone2-6{color:#1ea514 !important; }
.dy_tone1-tone2-7{color:#23a711 !important; }
.dy_tone1-tone2-8{color:#28a9e0 !important; }
.dy_tone1-tone2-9{color:#2dabb0 !important; }
.dy_tone1-tone3-1{color:#119e23 !important; }
.dy_tone1-tone3-2{color:#22a320 !important; }
.dy_tone1-tone3-3{color:#33a81d !important; }
.dy_tone1-tone3-4{color:#44ad1a !important; }
.dy_tone1-tone3-5{color:#55b217 !important; }
.dy_tone1-tone3-6{color:#66b714 !important; }
.dy_tone1-tone3-7{color:#77bc11 !important; }
.dy_tone1-tone3-8{color:#88c1e0 !important; }
.dy_tone1-tone3-9{color:#99c6b0 !important; }
.dy_tone1-tone4-1{color:#179823 !important; }
.dy_tone1-tone4-2{color:#2e9720 !important; }
.dy_tone1-tone4-3{color:#45961d !important; }
.dy_tone1-tone4-4{color:#5c951a !important; }
.dy_tone1-tone4-5{color:#739417 !important; }
.dy_tone1-tone4-6{color:#8a9314 !important; }
.dy_tone1-tone4-7{color:#a19211 !important; }
.dy_tone1-tone4-8{color:#b891e0 !important; }
.dy_tone1-tone4-9{color:#cf90b0 !important; }
.dy_tone1-accent1-1{color:#198a23 !important; }
.dy_tone1-accent1-2{color:#327b20 !important; }
.dy_tone1-accent1-3{color:#4b6c1d !important; }
.dy_tone1-accent1-4{color:#645d1a !important; }
.dy_tone1-accent1-5{color:#7d4e17 !important; }
.dy_tone1-accent1-6{color:#963f14 !important; }
.dy_tone1-accent1-7{color:#af3011 !important; }
.dy_tone1-accent1-8{color:#c821e0 !important; }
.dy_tone1-accent1-9{color:#e112b0 !important; }
.dy_tone1-accent2-1{color:#008a3b !important; }
.dy_tone1-accent2-2{color:#007b50 !important; }
.dy_tone1-accent2-3{color:#006c65 !important; }
.dy_tone1-accent2-4{color:#005d7a !important; }
.dy_tone1-accent2-5{color:#004e8f !important; }
.dy_tone1-accent2-6{color:#003fa4 !important; }
.dy_tone1-accent2-7{color:#0030b9 !important; }
.dy_tone1-accent2-8{color:#0021ce !important; }
.dy_tone1-accent2-9{color:#0012e3 !important; }
.dy_accent1-text-1{color:#e60000 !important; }
.dy_accent1-text-2{color:#cd0000 !important; }
.dy_accent1-text-3{color:#b40000 !important; }
.dy_accent1-text-4{color:#9b0000 !important; }
.dy_accent1-text-5{color:#820000 !important; }
.dy_accent1-text-6{color:#690000 !important; }
.dy_accent1-text-7{color:#500000 !important; }
.dy_accent1-text-8{color:#370000 !important; }
.dy_accent1-text-9{color:#1e0000 !important; }
.dy_accent1-background-1{color:#ff1919 !important; }
.dy_accent1-background-2{color:#ff3232 !important; }
.dy_accent1-background-3{color:#ff4b4b !important; }
.dy_accent1-background-4{color:#ff6464 !important; }
.dy_accent1-background-5{color:#ff7d7d !important; }
.dy_accent1-background-6{color:#ff9696 !important; }
.dy_accent1-background-7{color:#ffafaf !important; }
.dy_accent1-background-8{color:#ffc8c8 !important; }
.dy_accent1-background-9{color:#ffe1e1 !important; }
.dy_accent1-tone1-1{color:#e6f030 !important; }
.dy_accent1-tone1-2{color:#cd1e60 !important; }
.dy_accent1-tone1-3{color:#b42d90 !important; }
.dy_accent1-tone1-4{color:#9b3cc0 !important; }
.dy_accent1-tone1-5{color:#824bf0 !important; }
.dy_accent1-tone1-6{color:#695a12 !important; }
.dy_accent1-tone1-7{color:#506915 !important; }
.dy_accent1-tone1-8{color:#377818 !important; }
.dy_accent1-tone1-9{color:#1e871b !important; }
.dy_accent1-tone2-1{color:#eb1100 !important; }
.dy_accent1-tone2-2{color:#d72200 !important; }
.dy_accent1-tone2-3{color:#c33300 !important; }
.dy_accent1-tone2-4{color:#af4400 !important; }
.dy_accent1-tone2-5{color:#9b5500 !important; }
.dy_accent1-tone2-6{color:#876600 !important; }
.dy_accent1-tone2-7{color:#737700 !important; }
.dy_accent1-tone2-8{color:#5f8800 !important; }
.dy_accent1-tone2-9{color:#4b9900 !important; }
.dy_accent1-tone3-1{color:#f81400 !important; }
.dy_accent1-tone3-2{color:#f12800 !important; }
.dy_accent1-tone3-3{color:#ea3c00 !important; }
.dy_accent1-tone3-4{color:#e35000 !important; }
.dy_accent1-tone3-5{color:#dc6400 !important; }
.dy_accent1-tone3-6{color:#d57800 !important; }
.dy_accent1-tone3-7{color:#ce8c00 !important; }
.dy_accent1-tone3-8{color:#c7a000 !important; }
.dy_accent1-tone3-9{color:#c0b400 !important; }
.dy_accent1-tone4-1{color:#fdd000 !important; }
.dy_accent1-tone4-2{color:#fb1a00 !important; }
.dy_accent1-tone4-3{color:#f92700 !important; }
.dy_accent1-tone4-4{color:#f73400 !important; }
.dy_accent1-tone4-5{color:#f54100 !important; }
.dy_accent1-tone4-6{color:#f34e00 !important; }
.dy_accent1-tone4-7{color:#f15b00 !important; }
.dy_accent1-tone4-8{color:#ef6800 !important; }
.dy_accent1-tone4-9{color:#ed7500 !important; }
.dy_accent1-accent2-1{color:#e60019 !important; }
.dy_accent1-accent2-2{color:#cd0032 !important; }
.dy_accent1-accent2-3{color:#b4004b !important; }
.dy_accent1-accent2-4{color:#9b0064 !important; }
.dy_accent1-accent2-5{color:#82007d !important; }
.dy_accent1-accent2-6{color:#690096 !important; }
.dy_accent1-accent2-7{color:#5000af !important; }
.dy_accent1-accent2-8{color:#3700c8 !important; }
.dy_accent1-accent2-9{color:#1e00e1 !important; }
.dy_text-background-1{color:#191919 !important; }
.dy_text-background-2{color:#323232 !important; }
.dy_text-background-3{color:#4b4b4b !important; }
.dy_text-background-4{color:#646464 !important; }
.dy_text-background-5{color:#7d7d7d !important; }
.dy_text-background-6{color:#969696 !important; }
.dy_text-background-7{color:#afafaf !important; }
.dy_text-background-8{color:#c8c8c8 !important; }
.dy_text-background-9{color:#e1e1e1 !important; }
.dy_text-tone1-1{color:#00f030 !important; }
.dy_text-tone1-2{color:#001e60 !important; }
.dy_text-tone1-3{color:#002d90 !important; }
.dy_text-tone1-4{color:#003cc0 !important; }
.dy_text-tone1-5{color:#004bf0 !important; }
.dy_text-tone1-6{color:#005a12 !important; }
.dy_text-tone1-7{color:#006915 !important; }
.dy_text-tone1-8{color:#007818 !important; }
.dy_text-tone1-9{color:#00871b !important; }
.dy_text-tone2-1{color:#501100 !important; }
.dy_text-tone2-2{color:#a02200 !important; }
.dy_text-tone2-3{color:#f03300 !important; }
.dy_text-tone2-4{color:#144400 !important; }
.dy_text-tone2-5{color:#195500 !important; }
.dy_text-tone2-6{color:#1e6600 !important; }
.dy_text-tone2-7{color:#237700 !important; }
.dy_text-tone2-8{color:#288800 !important; }
.dy_text-tone2-9{color:#2d9900 !important; }
.dy_text-tone3-1{color:#111400 !important; }
.dy_text-tone3-2{color:#222800 !important; }
.dy_text-tone3-3{color:#333c00 !important; }
.dy_text-tone3-4{color:#445000 !important; }
.dy_text-tone3-5{color:#556400 !important; }
.dy_text-tone3-6{color:#667800 !important; }
.dy_text-tone3-7{color:#778c00 !important; }
.dy_text-tone3-8{color:#88a000 !important; }
.dy_text-tone3-9{color:#99b400 !important; }
.dy_text-tone4-1{color:#17d000 !important; }
.dy_text-tone4-2{color:#2e1a00 !important; }
.dy_text-tone4-3{color:#452700 !important; }
.dy_text-tone4-4{color:#5c3400 !important; }
.dy_text-tone4-5{color:#734100 !important; }
.dy_text-tone4-6{color:#8a4e00 !important; }
.dy_text-tone4-7{color:#a15b00 !important; }
.dy_text-tone4-8{color:#b86800 !important; }
.dy_text-tone4-9{color:#cf7500 !important; }
.dy_text-accent1-1{color:#190000 !important; }
.dy_text-accent1-2{color:#320000 !important; }
.dy_text-accent1-3{color:#4b0000 !important; }
.dy_text-accent1-4{color:#640000 !important; }
.dy_text-accent1-5{color:#7d0000 !important; }
.dy_text-accent1-6{color:#960000 !important; }
.dy_text-accent1-7{color:#af0000 !important; }
.dy_text-accent1-8{color:#c80000 !important; }
.dy_text-accent1-9{color:#e10000 !important; }
.dy_text-accent2-1{color:#000019 !important; }
.dy_text-accent2-2{color:#000032 !important; }
.dy_text-accent2-3{color:#00004b !important; }
.dy_text-accent2-4{color:#000064 !important; }
.dy_text-accent2-5{color:#00007d !important; }
.dy_text-accent2-6{color:#000096 !important; }
.dy_text-accent2-7{color:#0000af !important; }
.dy_text-accent2-8{color:#0000c8 !important; }
.dy_text-accent2-9{color:#0000e1 !important; }


