.dy_tone4{background-color:#FF9500 !important; }
.dy_background{background-color:#000000 !important; }
.dy_tone2{background-color:#44DD00 !important; }
.dy_accent2{color:#0000FF !important; }
.dy_tone3{background-color:#CDEE00 !important; }
.dy_tone1{background-color:#00CC33 !important; }
.dy_accent1{color:#FF0000 !important; }
.dy_text{color:#FFFFFF !important; }
.dy_tone4-text-1{color:#ff9f19 !important; }
.dy_tone4-text-2{color:#ffa932 !important; }
.dy_tone4-text-3{color:#ffb34b !important; }
.dy_tone4-text-4{color:#ffbd64 !important; }
.dy_tone4-text-5{color:#ffc77d !important; }
.dy_tone4-text-6{color:#ffd196 !important; }
.dy_tone4-text-7{color:#ffdbaf !important; }
.dy_tone4-text-8{color:#ffe5c8 !important; }
.dy_tone4-text-9{color:#ffefe1 !important; }
.dy_tone4-background-1{color:#e68700 !important; }
.dy_tone4-background-2{color:#cd7900 !important; }
.dy_tone4-background-3{color:#b46b00 !important; }
.dy_tone4-background-4{color:#9b5d00 !important; }
.dy_tone4-background-5{color:#824f00 !important; }
.dy_tone4-background-6{color:#694100 !important; }
.dy_tone4-background-7{color:#503300 !important; }
.dy_tone4-background-8{color:#372500 !important; }
.dy_tone4-background-9{color:#1e1700 !important; }
.dy_tone4-tone1-1{color:#e69a50 !important; }
.dy_tone4-tone1-2{color:#cd9fa0 !important; }
.dy_tone4-tone1-3{color:#b4a4f0 !important; }
.dy_tone4-tone1-4{color:#9ba914 !important; }
.dy_tone4-tone1-5{color:#82ae19 !important; }
.dy_tone4-tone1-6{color:#69b31e !important; }
.dy_tone4-tone1-7{color:#50b823 !important; }
.dy_tone4-tone1-8{color:#37bd28 !important; }
.dy_tone4-tone1-9{color:#1ec22d !important; }
.dy_tone4-tone2-1{color:#ed9c00 !important; }
.dy_tone4-tone2-2{color:#dba300 !important; }
.dy_tone4-tone2-3{color:#c9aa00 !important; }
.dy_tone4-tone2-4{color:#b7b100 !important; }
.dy_tone4-tone2-5{color:#a5b800 !important; }
.dy_tone4-tone2-6{color:#93bf00 !important; }
.dy_tone4-tone2-7{color:#81c600 !important; }
.dy_tone4-tone2-8{color:#6fcd00 !important; }
.dy_tone4-tone2-9{color:#5dd400 !important; }
.dy_tone4-tone3-1{color:#fa9d00 !important; }
.dy_tone4-tone3-2{color:#f5a500 !important; }
.dy_tone4-tone3-3{color:#f0ad00 !important; }
.dy_tone4-tone3-4{color:#ebb500 !important; }
.dy_tone4-tone3-5{color:#e6bd00 !important; }
.dy_tone4-tone3-6{color:#e1c500 !important; }
.dy_tone4-tone3-7{color:#dccd00 !important; }
.dy_tone4-tone3-8{color:#d7d500 !important; }
.dy_tone4-tone3-9{color:#d2dd00 !important; }
.dy_tone4-accent1-1{color:#ff8700 !important; }
.dy_tone4-accent1-2{color:#ff7900 !important; }
.dy_tone4-accent1-3{color:#ff6b00 !important; }
.dy_tone4-accent1-4{color:#ff5d00 !important; }
.dy_tone4-accent1-5{color:#ff4f00 !important; }
.dy_tone4-accent1-6{color:#ff4100 !important; }
.dy_tone4-accent1-7{color:#ff3300 !important; }
.dy_tone4-accent1-8{color:#ff2500 !important; }
.dy_tone4-accent1-9{color:#ff1700 !important; }
.dy_tone4-accent2-1{color:#e68719 !important; }
.dy_tone4-accent2-2{color:#cd7932 !important; }
.dy_tone4-accent2-3{color:#b46b4b !important; }
.dy_tone4-accent2-4{color:#9b5d64 !important; }
.dy_tone4-accent2-5{color:#824f7d !important; }
.dy_tone4-accent2-6{color:#694196 !important; }
.dy_tone4-accent2-7{color:#5033af !important; }
.dy_tone4-accent2-8{color:#3725c8 !important; }
.dy_tone4-accent2-9{color:#1e17e1 !important; }
.dy_background-text-1{color:#191919 !important; }
.dy_background-text-2{color:#323232 !important; }
.dy_background-text-3{color:#4b4b4b !important; }
.dy_background-text-4{color:#646464 !important; }
.dy_background-text-5{color:#7d7d7d !important; }
.dy_background-text-6{color:#969696 !important; }
.dy_background-text-7{color:#afafaf !important; }
.dy_background-text-8{color:#c8c8c8 !important; }
.dy_background-text-9{color:#e1e1e1 !important; }
.dy_background-tone1-1{color:#001450 !important; }
.dy_background-tone1-2{color:#0028a0 !important; }
.dy_background-tone1-3{color:#003cf0 !important; }
.dy_background-tone1-4{color:#005014 !important; }
.dy_background-tone1-5{color:#006419 !important; }
.dy_background-tone1-6{color:#00781e !important; }
.dy_background-tone1-7{color:#008c23 !important; }
.dy_background-tone1-8{color:#00a028 !important; }
.dy_background-tone1-9{color:#00b42d !important; }
.dy_background-tone2-1{color:#601600 !important; }
.dy_background-tone2-2{color:#c02c00 !important; }
.dy_background-tone2-3{color:#124200 !important; }
.dy_background-tone2-4{color:#185800 !important; }
.dy_background-tone2-5{color:#1e6e00 !important; }
.dy_background-tone2-6{color:#248400 !important; }
.dy_background-tone2-7{color:#2a9a00 !important; }
.dy_background-tone2-8{color:#30b000 !important; }
.dy_background-tone2-9{color:#36c600 !important; }
.dy_background-tone3-1{color:#141700 !important; }
.dy_background-tone3-2{color:#282e00 !important; }
.dy_background-tone3-3{color:#3c4500 !important; }
.dy_background-tone3-4{color:#505c00 !important; }
.dy_background-tone3-5{color:#647300 !important; }
.dy_background-tone3-6{color:#788a00 !important; }
.dy_background-tone3-7{color:#8ca100 !important; }
.dy_background-tone3-8{color:#a0b800 !important; }
.dy_background-tone3-9{color:#b4cf00 !important; }
.dy_background-tone4-1{color:#19e000 !important; }
.dy_background-tone4-2{color:#321c00 !important; }
.dy_background-tone4-3{color:#4b2a00 !important; }
.dy_background-tone4-4{color:#643800 !important; }
.dy_background-tone4-5{color:#7d4600 !important; }
.dy_background-tone4-6{color:#965400 !important; }
.dy_background-tone4-7{color:#af6200 !important; }
.dy_background-tone4-8{color:#c87000 !important; }
.dy_background-tone4-9{color:#e17e00 !important; }
.dy_background-accent1-1{color:#190000 !important; }
.dy_background-accent1-2{color:#320000 !important; }
.dy_background-accent1-3{color:#4b0000 !important; }
.dy_background-accent1-4{color:#640000 !important; }
.dy_background-accent1-5{color:#7d0000 !important; }
.dy_background-accent1-6{color:#960000 !important; }
.dy_background-accent1-7{color:#af0000 !important; }
.dy_background-accent1-8{color:#c80000 !important; }
.dy_background-accent1-9{color:#e10000 !important; }
.dy_background-accent2-1{color:#000019 !important; }
.dy_background-accent2-2{color:#000032 !important; }
.dy_background-accent2-3{color:#00004b !important; }
.dy_background-accent2-4{color:#000064 !important; }
.dy_background-accent2-5{color:#00007d !important; }
.dy_background-accent2-6{color:#000096 !important; }
.dy_background-accent2-7{color:#0000af !important; }
.dy_background-accent2-8{color:#0000c8 !important; }
.dy_background-accent2-9{color:#0000e1 !important; }
.dy_tone2-text-1{color:#56e019 !important; }
.dy_tone2-text-2{color:#68e332 !important; }
.dy_tone2-text-3{color:#7ae64b !important; }
.dy_tone2-text-4{color:#8ce964 !important; }
.dy_tone2-text-5{color:#9eec7d !important; }
.dy_tone2-text-6{color:#b0ef96 !important; }
.dy_tone2-text-7{color:#c2f2af !important; }
.dy_tone2-text-8{color:#d4f5c8 !important; }
.dy_tone2-text-9{color:#e6f8e1 !important; }
.dy_tone2-background-1{color:#3ec700 !important; }
.dy_tone2-background-2{color:#38b100 !important; }
.dy_tone2-background-3{color:#329b00 !important; }
.dy_tone2-background-4{color:#2c8500 !important; }
.dy_tone2-background-5{color:#266f00 !important; }
.dy_tone2-background-6{color:#205900 !important; }
.dy_tone2-background-7{color:#1a4300 !important; }
.dy_tone2-background-8{color:#142d00 !important; }
.dy_tone2-background-9{color:#e01700 !important; }
.dy_tone2-tone1-1{color:#3edc50 !important; }
.dy_tone2-tone1-2{color:#38dba0 !important; }
.dy_tone2-tone1-3{color:#32daf0 !important; }
.dy_tone2-tone1-4{color:#2cd914 !important; }
.dy_tone2-tone1-5{color:#26d819 !important; }
.dy_tone2-tone1-6{color:#20d71e !important; }
.dy_tone2-tone1-7{color:#1ad623 !important; }
.dy_tone2-tone1-8{color:#14d528 !important; }
.dy_tone2-tone1-9{color:#e0d42d !important; }
.dy_tone2-tone3-1{color:#51de00 !important; }
.dy_tone2-tone3-2{color:#5edf00 !important; }
.dy_tone2-tone3-3{color:#6be000 !important; }
.dy_tone2-tone3-4{color:#78e100 !important; }
.dy_tone2-tone3-5{color:#85e200 !important; }
.dy_tone2-tone3-6{color:#92e300 !important; }
.dy_tone2-tone3-7{color:#9fe400 !important; }
.dy_tone2-tone3-8{color:#ace500 !important; }
.dy_tone2-tone3-9{color:#b9e600 !important; }
.dy_tone2-tone4-1{color:#56d600 !important; }
.dy_tone2-tone4-2{color:#68cf00 !important; }
.dy_tone2-tone4-3{color:#7ac800 !important; }
.dy_tone2-tone4-4{color:#8cc100 !important; }
.dy_tone2-tone4-5{color:#9eba00 !important; }
.dy_tone2-tone4-6{color:#b0b300 !important; }
.dy_tone2-tone4-7{color:#c2ac00 !important; }
.dy_tone2-tone4-8{color:#d4a500 !important; }
.dy_tone2-tone4-9{color:#e69e00 !important; }
.dy_tone2-accent1-1{color:#56c700 !important; }
.dy_tone2-accent1-2{color:#68b100 !important; }
.dy_tone2-accent1-3{color:#7a9b00 !important; }
.dy_tone2-accent1-4{color:#8c8500 !important; }
.dy_tone2-accent1-5{color:#9e6f00 !important; }
.dy_tone2-accent1-6{color:#b05900 !important; }
.dy_tone2-accent1-7{color:#c24300 !important; }
.dy_tone2-accent1-8{color:#d42d00 !important; }
.dy_tone2-accent1-9{color:#e61700 !important; }
.dy_tone2-accent2-1{color:#3ec719 !important; }
.dy_tone2-accent2-2{color:#38b132 !important; }
.dy_tone2-accent2-3{color:#329b4b !important; }
.dy_tone2-accent2-4{color:#2c8564 !important; }
.dy_tone2-accent2-5{color:#266f7d !important; }
.dy_tone2-accent2-6{color:#205996 !important; }
.dy_tone2-accent2-7{color:#1a43af !important; }
.dy_tone2-accent2-8{color:#142dc8 !important; }
.dy_tone2-accent2-9{color:#e017e1 !important; }
.dy_accent2-text-1{color:#1919ff !important; }
.dy_accent2-text-2{color:#3232ff !important; }
.dy_accent2-text-3{color:#4b4bff !important; }
.dy_accent2-text-4{color:#6464ff !important; }
.dy_accent2-text-5{color:#7d7dff !important; }
.dy_accent2-text-6{color:#9696ff !important; }
.dy_accent2-text-7{color:#afafff !important; }
.dy_accent2-text-8{color:#c8c8ff !important; }
.dy_accent2-text-9{color:#e1e1ff !important; }
.dy_accent2-background-1{color:#0000e6 !important; }
.dy_accent2-background-2{color:#0000cd !important; }
.dy_accent2-background-3{color:#0000b4 !important; }
.dy_accent2-background-4{color:#00009b !important; }
.dy_accent2-background-5{color:#000082 !important; }
.dy_accent2-background-6{color:#000069 !important; }
.dy_accent2-background-7{color:#000050 !important; }
.dy_accent2-background-8{color:#000037 !important; }
.dy_accent2-background-9{color:#00001e !important; }
.dy_accent2-tone1-1{color:#0014eb !important; }
.dy_accent2-tone1-2{color:#0028d7 !important; }
.dy_accent2-tone1-3{color:#003cc3 !important; }
.dy_accent2-tone1-4{color:#0050af !important; }
.dy_accent2-tone1-5{color:#00649b !important; }
.dy_accent2-tone1-6{color:#007887 !important; }
.dy_accent2-tone1-7{color:#008c73 !important; }
.dy_accent2-tone1-8{color:#00a05f !important; }
.dy_accent2-tone1-9{color:#00b44b !important; }
.dy_accent2-tone2-1{color:#6016e6 !important; }
.dy_accent2-tone2-2{color:#c02ccd !important; }
.dy_accent2-tone2-3{color:#1242b4 !important; }
.dy_accent2-tone2-4{color:#18589b !important; }
.dy_accent2-tone2-5{color:#1e6e82 !important; }
.dy_accent2-tone2-6{color:#248469 !important; }
.dy_accent2-tone2-7{color:#2a9a50 !important; }
.dy_accent2-tone2-8{color:#30b037 !important; }
.dy_accent2-tone2-9{color:#36c61e !important; }
.dy_accent2-tone3-1{color:#1417e6 !important; }
.dy_accent2-tone3-2{color:#282ecd !important; }
.dy_accent2-tone3-3{color:#3c45b4 !important; }
.dy_accent2-tone3-4{color:#505c9b !important; }
.dy_accent2-tone3-5{color:#647382 !important; }
.dy_accent2-tone3-6{color:#788a69 !important; }
.dy_accent2-tone3-7{color:#8ca150 !important; }
.dy_accent2-tone3-8{color:#a0b837 !important; }
.dy_accent2-tone3-9{color:#b4cf1e !important; }
.dy_accent2-tone4-1{color:#19e0e6 !important; }
.dy_accent2-tone4-2{color:#321ccd !important; }
.dy_accent2-tone4-3{color:#4b2ab4 !important; }
.dy_accent2-tone4-4{color:#64389b !important; }
.dy_accent2-tone4-5{color:#7d4682 !important; }
.dy_accent2-tone4-6{color:#965469 !important; }
.dy_accent2-tone4-7{color:#af6250 !important; }
.dy_accent2-tone4-8{color:#c87037 !important; }
.dy_accent2-tone4-9{color:#e17e1e !important; }
.dy_accent2-accent1-1{color:#1900e6 !important; }
.dy_accent2-accent1-2{color:#3200cd !important; }
.dy_accent2-accent1-3{color:#4b00b4 !important; }
.dy_accent2-accent1-4{color:#64009b !important; }
.dy_accent2-accent1-5{color:#7d0082 !important; }
.dy_accent2-accent1-6{color:#960069 !important; }
.dy_accent2-accent1-7{color:#af0050 !important; }
.dy_accent2-accent1-8{color:#c80037 !important; }
.dy_accent2-accent1-9{color:#e1001e !important; }
.dy_tone3-text-1{color:#d2ef19 !important; }
.dy_tone3-text-2{color:#d7f032 !important; }
.dy_tone3-text-3{color:#dcf14b !important; }
.dy_tone3-text-4{color:#e1f264 !important; }
.dy_tone3-text-5{color:#e6f37d !important; }
.dy_tone3-text-6{color:#ebf496 !important; }
.dy_tone3-text-7{color:#f0f5af !important; }
.dy_tone3-text-8{color:#f5f6c8 !important; }
.dy_tone3-text-9{color:#faf7e1 !important; }
.dy_tone3-background-1{color:#b9d700 !important; }
.dy_tone3-background-2{color:#a5c000 !important; }
.dy_tone3-background-3{color:#91a900 !important; }
.dy_tone3-background-4{color:#7d9200 !important; }
.dy_tone3-background-5{color:#697b00 !important; }
.dy_tone3-background-6{color:#556400 !important; }
.dy_tone3-background-7{color:#414d00 !important; }
.dy_tone3-background-8{color:#2d3600 !important; }
.dy_tone3-background-9{color:#191f00 !important; }
.dy_tone3-tone1-1{color:#b9eb50 !important; }
.dy_tone3-tone1-2{color:#a5e8a0 !important; }
.dy_tone3-tone1-3{color:#91e5f0 !important; }
.dy_tone3-tone1-4{color:#7de214 !important; }
.dy_tone3-tone1-5{color:#69df19 !important; }
.dy_tone3-tone1-6{color:#55dc1e !important; }
.dy_tone3-tone1-7{color:#41d923 !important; }
.dy_tone3-tone1-8{color:#2dd628 !important; }
.dy_tone3-tone1-9{color:#19d32d !important; }
.dy_tone3-tone2-1{color:#c0ed00 !important; }
.dy_tone3-tone2-2{color:#b3ec00 !important; }
.dy_tone3-tone2-3{color:#a6eb00 !important; }
.dy_tone3-tone2-4{color:#99ea00 !important; }
.dy_tone3-tone2-5{color:#8ce900 !important; }
.dy_tone3-tone2-6{color:#7fe800 !important; }
.dy_tone3-tone2-7{color:#72e700 !important; }
.dy_tone3-tone2-8{color:#65e600 !important; }
.dy_tone3-tone2-9{color:#58e500 !important; }
.dy_tone3-tone4-1{color:#d2e600 !important; }
.dy_tone3-tone4-2{color:#d7de00 !important; }
.dy_tone3-tone4-3{color:#dcd600 !important; }
.dy_tone3-tone4-4{color:#e1ce00 !important; }
.dy_tone3-tone4-5{color:#e6c600 !important; }
.dy_tone3-tone4-6{color:#ebbe00 !important; }
.dy_tone3-tone4-7{color:#f0b600 !important; }
.dy_tone3-tone4-8{color:#f5ae00 !important; }
.dy_tone3-tone4-9{color:#faa600 !important; }
.dy_tone3-accent1-1{color:#d2d700 !important; }
.dy_tone3-accent1-2{color:#d7c000 !important; }
.dy_tone3-accent1-3{color:#dca900 !important; }
.dy_tone3-accent1-4{color:#e19200 !important; }
.dy_tone3-accent1-5{color:#e67b00 !important; }
.dy_tone3-accent1-6{color:#eb6400 !important; }
.dy_tone3-accent1-7{color:#f04d00 !important; }
.dy_tone3-accent1-8{color:#f53600 !important; }
.dy_tone3-accent1-9{color:#fa1f00 !important; }
.dy_tone3-accent2-1{color:#b9d719 !important; }
.dy_tone3-accent2-2{color:#a5c032 !important; }
.dy_tone3-accent2-3{color:#91a94b !important; }
.dy_tone3-accent2-4{color:#7d9264 !important; }
.dy_tone3-accent2-5{color:#697b7d !important; }
.dy_tone3-accent2-6{color:#556496 !important; }
.dy_tone3-accent2-7{color:#414daf !important; }
.dy_tone3-accent2-8{color:#2d36c8 !important; }
.dy_tone3-accent2-9{color:#191fe1 !important; }
.dy_tone1-text-1{color:#19d147 !important; }
.dy_tone1-text-2{color:#32d65b !important; }
.dy_tone1-text-3{color:#4bdb6f !important; }
.dy_tone1-text-4{color:#64e083 !important; }
.dy_tone1-text-5{color:#7de597 !important; }
.dy_tone1-text-6{color:#96eaab !important; }
.dy_tone1-text-7{color:#afefbf !important; }
.dy_tone1-text-8{color:#c8f4d3 !important; }
.dy_tone1-text-9{color:#e1f9e7 !important; }
.dy_tone1-background-1{color:#00b82e !important; }
.dy_tone1-background-2{color:#00a429 !important; }
.dy_tone1-background-3{color:#009024 !important; }
.dy_tone1-background-4{color:#007c1f !important; }
.dy_tone1-background-5{color:#00681a !important; }
.dy_tone1-background-6{color:#005415 !important; }
.dy_tone1-background-7{color:#004010 !important; }
.dy_tone1-background-8{color:#002cb0 !important; }
.dy_tone1-background-9{color:#001860 !important; }
.dy_tone1-tone2-1{color:#60cd2e !important; }
.dy_tone1-tone2-2{color:#c0ce29 !important; }
.dy_tone1-tone2-3{color:#12cf24 !important; }
.dy_tone1-tone2-4{color:#18d01f !important; }
.dy_tone1-tone2-5{color:#1ed11a !important; }
.dy_tone1-tone2-6{color:#24d215 !important; }
.dy_tone1-tone2-7{color:#2ad310 !important; }
.dy_tone1-tone2-8{color:#30d4b0 !important; }
.dy_tone1-tone2-9{color:#36d560 !important; }
.dy_tone1-tone3-1{color:#14cf2e !important; }
.dy_tone1-tone3-2{color:#28d229 !important; }
.dy_tone1-tone3-3{color:#3cd524 !important; }
.dy_tone1-tone3-4{color:#50d81f !important; }
.dy_tone1-tone3-5{color:#64db1a !important; }
.dy_tone1-tone3-6{color:#78de15 !important; }
.dy_tone1-tone3-7{color:#8ce110 !important; }
.dy_tone1-tone3-8{color:#a0e4b0 !important; }
.dy_tone1-tone3-9{color:#b4e760 !important; }
.dy_tone1-tone4-1{color:#19c72e !important; }
.dy_tone1-tone4-2{color:#32c229 !important; }
.dy_tone1-tone4-3{color:#4bbd24 !important; }
.dy_tone1-tone4-4{color:#64b81f !important; }
.dy_tone1-tone4-5{color:#7db31a !important; }
.dy_tone1-tone4-6{color:#96ae15 !important; }
.dy_tone1-tone4-7{color:#afa910 !important; }
.dy_tone1-tone4-8{color:#c8a4b0 !important; }
.dy_tone1-tone4-9{color:#e19f60 !important; }
.dy_tone1-accent1-1{color:#19b82e !important; }
.dy_tone1-accent1-2{color:#32a429 !important; }
.dy_tone1-accent1-3{color:#4b9024 !important; }
.dy_tone1-accent1-4{color:#647c1f !important; }
.dy_tone1-accent1-5{color:#7d681a !important; }
.dy_tone1-accent1-6{color:#965415 !important; }
.dy_tone1-accent1-7{color:#af4010 !important; }
.dy_tone1-accent1-8{color:#c82cb0 !important; }
.dy_tone1-accent1-9{color:#e11860 !important; }
.dy_tone1-accent2-1{color:#00b847 !important; }
.dy_tone1-accent2-2{color:#00a45b !important; }
.dy_tone1-accent2-3{color:#00906f !important; }
.dy_tone1-accent2-4{color:#007c83 !important; }
.dy_tone1-accent2-5{color:#006897 !important; }
.dy_tone1-accent2-6{color:#0054ab !important; }
.dy_tone1-accent2-7{color:#0040bf !important; }
.dy_tone1-accent2-8{color:#002cd3 !important; }
.dy_tone1-accent2-9{color:#0018e7 !important; }
.dy_accent1-text-1{color:#ff1919 !important; }
.dy_accent1-text-2{color:#ff3232 !important; }
.dy_accent1-text-3{color:#ff4b4b !important; }
.dy_accent1-text-4{color:#ff6464 !important; }
.dy_accent1-text-5{color:#ff7d7d !important; }
.dy_accent1-text-6{color:#ff9696 !important; }
.dy_accent1-text-7{color:#ffafaf !important; }
.dy_accent1-text-8{color:#ffc8c8 !important; }
.dy_accent1-text-9{color:#ffe1e1 !important; }
.dy_accent1-background-1{color:#e60000 !important; }
.dy_accent1-background-2{color:#cd0000 !important; }
.dy_accent1-background-3{color:#b40000 !important; }
.dy_accent1-background-4{color:#9b0000 !important; }
.dy_accent1-background-5{color:#820000 !important; }
.dy_accent1-background-6{color:#690000 !important; }
.dy_accent1-background-7{color:#500000 !important; }
.dy_accent1-background-8{color:#370000 !important; }
.dy_accent1-background-9{color:#1e0000 !important; }
.dy_accent1-tone1-1{color:#e61450 !important; }
.dy_accent1-tone1-2{color:#cd28a0 !important; }
.dy_accent1-tone1-3{color:#b43cf0 !important; }
.dy_accent1-tone1-4{color:#9b5014 !important; }
.dy_accent1-tone1-5{color:#826419 !important; }
.dy_accent1-tone1-6{color:#69781e !important; }
.dy_accent1-tone1-7{color:#508c23 !important; }
.dy_accent1-tone1-8{color:#37a028 !important; }
.dy_accent1-tone1-9{color:#1eb42d !important; }
.dy_accent1-tone2-1{color:#ed1600 !important; }
.dy_accent1-tone2-2{color:#db2c00 !important; }
.dy_accent1-tone2-3{color:#c94200 !important; }
.dy_accent1-tone2-4{color:#b75800 !important; }
.dy_accent1-tone2-5{color:#a56e00 !important; }
.dy_accent1-tone2-6{color:#938400 !important; }
.dy_accent1-tone2-7{color:#819a00 !important; }
.dy_accent1-tone2-8{color:#6fb000 !important; }
.dy_accent1-tone2-9{color:#5dc600 !important; }
.dy_accent1-tone3-1{color:#fa1700 !important; }
.dy_accent1-tone3-2{color:#f52e00 !important; }
.dy_accent1-tone3-3{color:#f04500 !important; }
.dy_accent1-tone3-4{color:#eb5c00 !important; }
.dy_accent1-tone3-5{color:#e67300 !important; }
.dy_accent1-tone3-6{color:#e18a00 !important; }
.dy_accent1-tone3-7{color:#dca100 !important; }
.dy_accent1-tone3-8{color:#d7b800 !important; }
.dy_accent1-tone3-9{color:#d2cf00 !important; }
.dy_accent1-tone4-1{color:#ffe000 !important; }
.dy_accent1-tone4-2{color:#ff1c00 !important; }
.dy_accent1-tone4-3{color:#ff2a00 !important; }
.dy_accent1-tone4-4{color:#ff3800 !important; }
.dy_accent1-tone4-5{color:#ff4600 !important; }
.dy_accent1-tone4-6{color:#ff5400 !important; }
.dy_accent1-tone4-7{color:#ff6200 !important; }
.dy_accent1-tone4-8{color:#ff7000 !important; }
.dy_accent1-tone4-9{color:#ff7e00 !important; }
.dy_accent1-accent2-1{color:#e60019 !important; }
.dy_accent1-accent2-2{color:#cd0032 !important; }
.dy_accent1-accent2-3{color:#b4004b !important; }
.dy_accent1-accent2-4{color:#9b0064 !important; }
.dy_accent1-accent2-5{color:#82007d !important; }
.dy_accent1-accent2-6{color:#690096 !important; }
.dy_accent1-accent2-7{color:#5000af !important; }
.dy_accent1-accent2-8{color:#3700c8 !important; }
.dy_accent1-accent2-9{color:#1e00e1 !important; }
.dy_text-background-1{color:#e6e6e6 !important; }
.dy_text-background-2{color:#cdcdcd !important; }
.dy_text-background-3{color:#b4b4b4 !important; }
.dy_text-background-4{color:#9b9b9b !important; }
.dy_text-background-5{color:#828282 !important; }
.dy_text-background-6{color:#696969 !important; }
.dy_text-background-7{color:#505050 !important; }
.dy_text-background-8{color:#373737 !important; }
.dy_text-background-9{color:#1e1e1e !important; }
.dy_text-tone1-1{color:#e6faeb !important; }
.dy_text-tone1-2{color:#cdf5d7 !important; }
.dy_text-tone1-3{color:#b4f0c3 !important; }
.dy_text-tone1-4{color:#9bebaf !important; }
.dy_text-tone1-5{color:#82e69b !important; }
.dy_text-tone1-6{color:#69e187 !important; }
.dy_text-tone1-7{color:#50dc73 !important; }
.dy_text-tone1-8{color:#37d75f !important; }
.dy_text-tone1-9{color:#1ed24b !important; }
.dy_text-tone2-1{color:#edfce6 !important; }
.dy_text-tone2-2{color:#dbf9cd !important; }
.dy_text-tone2-3{color:#c9f6b4 !important; }
.dy_text-tone2-4{color:#b7f39b !important; }
.dy_text-tone2-5{color:#a5f082 !important; }
.dy_text-tone2-6{color:#93ed69 !important; }
.dy_text-tone2-7{color:#81ea50 !important; }
.dy_text-tone2-8{color:#6fe737 !important; }
.dy_text-tone2-9{color:#5de41e !important; }
.dy_text-tone3-1{color:#fafee6 !important; }
.dy_text-tone3-2{color:#f5fdcd !important; }
.dy_text-tone3-3{color:#f0fcb4 !important; }
.dy_text-tone3-4{color:#ebfb9b !important; }
.dy_text-tone3-5{color:#e6fa82 !important; }
.dy_text-tone3-6{color:#e1f969 !important; }
.dy_text-tone3-7{color:#dcf850 !important; }
.dy_text-tone3-8{color:#d7f737 !important; }
.dy_text-tone3-9{color:#d2f61e !important; }
.dy_text-tone4-1{color:#fff5e6 !important; }
.dy_text-tone4-2{color:#ffebcd !important; }
.dy_text-tone4-3{color:#ffe1b4 !important; }
.dy_text-tone4-4{color:#ffd79b !important; }
.dy_text-tone4-5{color:#ffcd82 !important; }
.dy_text-tone4-6{color:#ffc369 !important; }
.dy_text-tone4-7{color:#ffb950 !important; }
.dy_text-tone4-8{color:#ffaf37 !important; }
.dy_text-tone4-9{color:#ffa51e !important; }
.dy_text-accent1-1{color:#ffe6e6 !important; }
.dy_text-accent1-2{color:#ffcdcd !important; }
.dy_text-accent1-3{color:#ffb4b4 !important; }
.dy_text-accent1-4{color:#ff9b9b !important; }
.dy_text-accent1-5{color:#ff8282 !important; }
.dy_text-accent1-6{color:#ff6969 !important; }
.dy_text-accent1-7{color:#ff5050 !important; }
.dy_text-accent1-8{color:#ff3737 !important; }
.dy_text-accent1-9{color:#ff1e1e !important; }
.dy_text-accent2-1{color:#e6e6ff !important; }
.dy_text-accent2-2{color:#cdcdff !important; }
.dy_text-accent2-3{color:#b4b4ff !important; }
.dy_text-accent2-4{color:#9b9bff !important; }
.dy_text-accent2-5{color:#8282ff !important; }
.dy_text-accent2-6{color:#6969ff !important; }
.dy_text-accent2-7{color:#5050ff !important; }
.dy_text-accent2-8{color:#3737ff !important; }
.dy_text-accent2-9{color:#1e1eff !important; }